/* Reduce heading sizes */
h1 { font-size: 2.0em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.5em; }

/* Show sidebar on left up to bootstrap md size */
@media (min-width: 768px) { /* Controls sidebar textures */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #abc;
  }
}

/* Margin on sidebar headings */
.sidebar h4 {
  margin-top: 1em;
}

/* Add some space above the map */
#map svg {
    margin-top: 3em;
}

.land {
    fill: #000;
}

.lad-boundary {
    fill: none;
    stroke: #aaa;
    stroke-width: 1px;
}
